@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fef9f2;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
/* End Global Rules */

.panel-container {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 90%;
}

.panel-container strong {
  line-height: 20px;
}

.rating {
  flex: 1;
  cursor: pointer;
}

.rating:hover,
.rating.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.rating img {
  width: 40px;
}

.rating small {
  color: #555;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #302d2b;
}

.btn:active {
  transform: scale(0.98);
}
